$PRIMARY_90_100: rgb(155, 81, 224);
$PRIMARY_90_20: rgba(155, 81, 224, 0.2);

$GRAY_90_100: rgba(224, 224, 224, 1);

$YELLOW_90_100: rgba(242, 201, 76, 1);

$LIGHT_90_100: rgba(255, 255, 255, 1);

$TEXT_COLOR_90_100: rgba(54, 37, 73, 1);
$TEXT_COLOR_80_100: rgb(155, 81, 224);

$DEFAULT_SHADOW: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%), 0 12px 24px rgb(0 0 0 / 5%);

$GRADIENT_WHITE_PRIMARY: linear-gradient(90.05deg, rgba(255, 255, 255, 0) 33.11%, #9B51E0 99.96%);
