.linkstyles {
  text-decoration: none;
  cursor: pointer;
}

.basebutton_custom {
  background: transparent;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  border: none !important;
  border-left: solid 2px transparent !important;
}

.base_children_text {
  text-align: left;
}
